{* Latte template *}

{block content}
{snippet form}
{control createCompanyForm}
{/snippet}
 <script src="{$basePath}/js/jquery-3.6.0.min.js"></script>

<script>
	function ares(){
		let ico = document.getElementById("ico").value;
		let link = {link ares! ico => '__placeholder__'};
		let url = link.replace('__placeholder__', ico);

		console.log({
			ico: ico,
			link: link,
			url: url
		});

		$.ajax({
			method: 'get',
			url: url
		});
	};
</script>