<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5/dist/slate/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.0/css/all.min.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

        <title>{ifset title}{include title|stripHtml} | {/ifset}Nette Web</title>
</head>

<body>
        <style>
            #sortable { list-style-type: none; margin: 0; padding: 0; width: 90% }
            #sortable li { margin: 3px 3px 3px 0; padding: 1px; float: left; width: 370px; height: 400px; font-size: 4em; text-align: center;background-color: transparent;border: 0px; }
            #droppable { width: 91%; height: 150px;background-color: white; margin-left: 15px;font-size: 12px;}
            h4 { font-size:0.22em; color:white;}
            p { font-size:0.2em; color:white;}
        </style>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
        
            {include content}

	{block scripts}
            <script src="https://unpkg.com/naja@2/dist/Naja.min.js"></script>
           <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
                 <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2/dist/js/bootstrap.bundle.min.js"></script>
           <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-file-upload/4.0.11/jquery.uploadfile.min.js" integrity="sha512-uwNlWrX8+f31dKuSezJIHdwlROJWNkP6URRf+FSWkxSgrGRuiAreWzJLA2IpyRH9lN2H67IP5H4CxBcAshYGNw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
           <script src="{$basePath}/js/textToSpeech.js"></script> 
           <script>
            naja.initialize();
           </script>
           <script>
            $( function() {
              $( "#sortable" ).sortable();
            } );
          </script>
          <script>
            $(function() {
                 $('#dragable3').draggable();
                 $('#resizable').resizable();
            });
         </script>
         <script>
           $( "#resizable" ).resizable({
                
                stop: function( event, ui ) {
                let link = {link updatesizecrop!};    
                height = $("#resizable").height(); 

                width = $("#resizable").width(); 
                $.ajax({
                                type: 'GET',
                                url: link,
                                data: { width: width, height : height }
                        });
             } 
            });
            </script>
           <script>
                $( function() {
                  $( "#resizable" ).resizable({ aspectRatio: true });
                } );
                </script>
           <script>
                function uploadimage(){
                         let formData = new FormData();
                         var d = $('#image')[0].files[0];
                         let picture_id = document.getElementById("picture_id").value;
                         let storyboards_id = document.getElementById("storyboards_id").value;
                         formData.append('fileimage',d);
                         formData.append('picture_id',picture_id);
                         formData.append('storyboards_id',storyboards_id);
                         let link = {link uploadimage!};
                         $.ajax({
                                type: 'POST',
                                url: link,
                                contentType: false,
                                processData: false,
                                data: formData
                        });
                        
                };

            </script>
             <script>
                function updatetime(){
                        let link = {link updatetime!};
                        let seconds = document.getElementById("seconds").value;
                        let picture_id = document.getElementById("picture_id").value;
                        let storyboards_id = document.getElementById("storyboards_id").value;
                        $.ajax({
                                type: 'GET',
                                url: link,
                                data: { seconds: seconds,picture_id : picture_id, storyboards_id : storyboards_id }
                        });
                        
                };

            </script>
            <script>
                function updatepicturesizewidth(){
                        let link = {link updatepicturesizewidth!};
                        let width = document.getElementById("rangepicture").value;
                        $.ajax({
                                type: 'GET',
                                url: link,
                                data: { width: width}
                        });
                        
                };

            </script>
            <script>
            $(document).ready(function(){
              $('#sortable').sortable({
                update: function(event, ui) {
                    var newOrder = $(this).sortable('toArray').toString();
                    let link = {link newpositions!};
                    $.ajax({
                                type: 'GET',
                                url: link,
                                data: { positions: newOrder}
                        });
                }
                });
            });
            </script>
            <script>
                $('#voicetext').focusout(function() {
                    let link = {link updatetext!};
                        let text = document.getElementById("voicetext").value;
                        let picture_id = document.getElementById("picture_id").value;
                        $.ajax({
                                type: 'GET',
                                url: link,
                                data: { text: text, picture_id : picture_id }
                        });
                });
            </script>
            <script>
                $('#aboutetext').focusout(function() {
                    let link = {link updateaboutetext!};
                        let aboutetext = document.getElementById("aboutetext").value;
                        let picture_id = document.getElementById("picture_id").value;
                        $.ajax({
                                type: 'GET',
                                url: link,
                                data: { aboute_text: aboutetext, picture_id : picture_id }
                        });
                });
            </script>
            <script>
                $( function() {
                  $( "#draggable" ).draggable({ axis: "y" });
                  $( "#draggable2" ).draggable({ axis: "x" });

                  $( "#draggable3" ).draggable({ containment: "#containment-wrapper", scroll: false });
                  $( "#draggable4" ).draggable({ containment: "parent" });
                } );
            </script>
            <script>
                var dragposition = '';
                let link = {link updateposition!};
                $('#draggable3').draggable({
                   // other options...
                   drag: function(event,ui){
                      dragposition = ui.position;
                      $.ajax({
                                type: 'GET',
                                url: link,
                                data: { left: dragposition.left, top : dragposition.top }
                        });
                   }
                   
                });
                
            </script>
            <script>
                function updatecrop(){
                        let link = {link updatecrop!};
                        if ($('#usecrop').is(":checked"))
                        {
                          crop = 1;
                        }
                        else{
                          crop = 0;  
                        }
                        $.ajax({
                                type: 'GET',
                                url: link,
                                data: { usecrop: crop }
                        });
                        
                };

            </script>
        {/block}
</body>
</html>
