{* This is the welcome page, you can delete it *}

{block content}
{control createCompanyForm}

IČO = {$ico}<br/>
DIČ = {$dic}<br/>
Název firmy = {$company_name}<br/>
Adresa firmy = {$company_adress}<br/>
Kontaktní osoba = {$company_person_name}<br/>
Kontaktní email = {$company_person_email}<br/>